html,
body {
  height: 100%;
  width: 100%;
}
.parent {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 10px;
}

.card {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.card .top img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.card .top button {
  border: 1px solid;
  padding: 0;
  height: 30px;
  display: flex;
  width: 55px;
}

.card .bottom {
    display: flex;
    justify-content: space-between;
}
